<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2010-2025 BSI Business Systems Integration AG
    Copyright (c) 2023-2025 Nils Israel

    This program is an extension of the original work from the Eclipse Scout Project,
    available at https://www.eclipse.org/scout/.

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

-->
<configuration>
  <contextListener class="org.eclipse.scout.rt.platform.logger.AutoRegisteringJulLevelChangePropagator" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" /> <!-- for JSON -->
    <!-- <encoder class="org.eclipse.scout.rt.platform.logger.FixedPatternLogbackEncoder" /> --> <!-- for plain text -->
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.quartz" level="WARN" />
</configuration>
